@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');

* {
    font-family: sans-serif;
}

body {
    margin: 0 8px;
    min-width: 460px;
}

.container {
    display: flex;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.background-image {
    height: 100vh;
    width: 40%;
    position: relative;
}

.contents {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line-form {
    display: flex;
    gap: 50px;
    border-bottom: 2px solid #e5e6e7;
    background-color: #fdfdffa1;
    padding-left: 20px;
    box-shadow: -2px 2px 2px 1px #e5e6e7;
}

img {
    width: 100%;
    height: 100%;
}

label {
    display: block;
    font-size: 9px;
}

input {
    margin-bottom: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 170px;
    padding: 2px 5px 2px 5px;
}

button {
    margin: 30px;
}

input:focus {
    outline: none;
    border: 1px solid #a9bfeb;
    box-shadow: 0px 2px 5px 1px #a9bfeb;
}

input:invalid {
    outline: none;
    border: 1px solid red;
}
input:invalid ~.error::after {
    content: "*Password do not match";
    font-size: 9px;
    color: red;   
    position: relative;
    top: -24px; 
}

.sign-up-form > div {
    background-color: #fdfdffa1;
    padding-left: 20px;
}


.btn-create {
    border: 2px solid #596D48;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 0 40px 40px #596D48 inset, 0 0 0 0 #596D48;
    padding: 8px 30px;
    width: 170px;
  }
 
.logo {
   position: absolute;
   top: 20vh;
   width: 100%;
   color: #fff;
   font-size: 50px;
   text-align: center;
   padding: 10px 0;
   background-color: rgba(0, 0, 0, 0.5);
   font-family: 'Alegreya', sans-serif;
}

.sign-up-form > p {
    font-size: 10px;
    padding-left: 20px;
    margin: 0;
    background-color: #f9f9f9;
}

.sign-up-form > p > a{
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}

.logo > img {
    height: 70px;
    width: auto;
    position: relative;
    top: 15px;
}

@media (max-width: 750px) {
    .line-form {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-height: 460px) {
    .contents, .background-image {
        height: 460px;
    }
}